.card{
    border: none;
    border-bottom: 2px solid rgb(182, 182, 182);
}

.carousel-caption{
    text-shadow: 2px 2px #4646465d;
}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

/* background nav item collapse version */
@media screen and (max-width: 991px){
    #navbarNavAltMarkup{
     background-color: #fff;
     padding: 2rem;
    }
  
    .nav-link{
      color: rgba(0,0,0,.55) !important;
      text-align: right;
      font-weight: bold;
    }
  
}